
<div class="container">
  <div class="user-wrapper">
    <img src="<%=@user.photo%>" />
    <div class="content">
      <h2><%=@user.name%></h2>
      <p>Number of posts: <%=@user.posts_counter%></p>
    </div>
  </div>
  <div class="bio">
    <h3>Bio</h3>
    <p><%=@user.bio%></p>
  </div>
  <div class="posts">
    <% @user.posts.each do |post| %>
      <div class="post">
        <h3><%= post.title %></h3>
        <p><%= post.text %></p>
        <p class="stats"> Comments: <%= post.comments_counter%> Likes: <%=post.likes_counter%> </p>
      </div>
    <% end %>
    </div>
  </div>
</div>
