<div class="container">
  <div class="upper">
  <div class="p-content">
    <p><%= @user_post.title%> by <%= link_to @user.name, user_path(@user) %> </p>
    <p>Comments: <%=@user_post.comments_counter%> Likes: <%=@user_post.likes_counter%></p>
  </div>
  <p><%=@user_post.text%>
  </div>
  <div class="comments-section">
    <%@user_post.comments.each do |comment| %>
      <p><%=link_to comment.author, user_path(@user) %>: <%=comment.text%></p>
    <%end%>
  </div>
</div>
